<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

{% include 'partials/_navbar.html' %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h3>Customer Form</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Car model</label>
                    {{ form.car_model }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Car year</label>
                    {{ form.car_year }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Car description</label>
                    {{ form.car_description }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Image</label>
                    {{ form.img }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Main page</label>
                    {{ form.main }}
                </div>
                <input class="btn btn-info" type="submit" value="Add Car">
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

</html>