{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

{% include 'partials/_navbar.html' %}


<div class="container text-center mt-4">
    <div class="row">
        {% include 'partials/_categories.html' %}

        <div class="col-10 col-sm-10">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for car in cars %}
                    {% include 'partials/_cars.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>


