{% load static %}

<div class="card mb-4 me-2" style="width: 11rem;">
{#  <img src="{% static "img/"|add:car.img %}" class="card-img-top img-thumbnail" alt="...">#}
    <img src="{% static car.img %}" class="card-img-top img-thumbnail" alt="...">

    <div class="card-body">
        <h5 class="card-title">{{ car.car_model }}</h5>
        <p class="card-text">{{ car.car_year }}</p>
        <p class="card-text">{{ car.car_description }}</p>
        <a class="btn btn-outline-info" href="{% url 'details' car.id %}">Details</a>
    </div>
</div>