{% load static %}

<div class="col-2 col-sm-2">
    {% for category in categories %}
        <div id="list-example" class="list-group mt-1">
            <a class="list-group-item list-group-item-action" href="#list-item-1"> {{ category.name }}</a>
        </div>
    {% endfor %}
</div>