<nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">MyCars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'cars' %}">Cars</a>
                <a class="nav-link" href="{% url 'form' %}">ADD CAR</a>

            </div>
            <span class="nav-link ">Hello, {{ request.user }} -</span>
            <span><a class="nav-link" href="{% url 'logout' %}">Logout</a></span>
        </div>
    </div>
</nav>